<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334242812288-319b3h9j61uqn2n8nktnev3mc22e3u1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334242812288-319b3h9j61uqn2n8nktnev3mc22e3u1c</string>
	<key>API_KEY</key>
	<string>AIzaSyDme6aNbUrzdvXJFATsHuU6p3gSEJmTKRs</string>
	<key>GCM_SENDER_ID</key>
	<string>334242812288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>https---github.com-bertiGrazi.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-4ff2c</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-4ff2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334242812288:ios:0a33af2e9aa1f520013165</string>
</dict>
</plist>